.quote-container {
    width: 80%;
    min-height: 800px;
    margin-top: 100px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;

}

.quote-container img {
    width: 400px;
    height: 400px;
}

.quote-container .text {

    width: 50%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.quote-container .text .adv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;

    padding: 10px 0;
    border: none;
    border-radius: 10px;
    transition: all ease-in-out .3s;
    

}



.quote-container .text .adv .heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    justify-content: start;
    align-items: start;
 
}

.quote-container .text .adv img {
    width: 70px;
    height: 70px;
}

.quote-container .text .adv p {

    margin-top: 0.5rem;
    width: 90%;
 
}

@media (max-width: 700px) {


.quote-container .text {
    width: 100%;
}

.quote-container img {
    width: 230px;
    height: 230px;
}

.quote-container .text .adv .heading {
    font-size: 14px;
}

.quote-container .text .adv .heading h2 {
    font-size: 17px;
}

.quote-container .text .adv p {
    width: 100%;
}

}