.jobs-container {

    margin-top: 100px;
    width: 100%;
    min-height: 850px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}



.jobs-container .empty-jobs {

    margin-top: 10px;
    margin-bottom: 10px;
}

.jobs-container .jobs {
    width: 100%;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.jobs-container .jobs .card {
    margin: 40px;
}

.jobs-container .jobs .card .job-heading {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media (max-width: 1000px) {

    .jobs-container .jobs {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .jobs-container .jobs .card {
        width: 85%;
        margin: 25px 0;
    }
}