.terms {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 3rem;

}


.terms .term {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: left;
}


.terms .term section {

    text-align: left;
    padding: 10px;
    border-radius: 7px;
}

.terms .term section:hover {
    background-color: var(--light);
}