@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  color: var(--default-text-color);
  

}

:root {

  --primary: #1e66eb;
  --dark: #191919;
  --light: #ffffff;
  --success: #3da338;
  --danger: #ce4343;
  --yellow: #f1e954;


  --btn-primary-color: var(--light);
  --btn-secondary-color: var(--light);
  --btn-alert-color: var(--yellow);
  --btn-primary-hover-color: #1b58c8;
  --btn-alert-hover-color: rgb(227, 218, 56);

  --default-font-size: 17px;
  --default-icon-size: 35px;
  --form-search-input-size: 16px;

  --default-border: var(--light-border);
  --default-background: #fff;
  --default-text-color: var(--dark);


  --light-border: #e1e1e1ed;
  --dark-border: #232323f5;
  


  font-family: 'Poppins', 'Roboto';
  font-weight: normal;
  font-size: var(--default-font-size);

}

body {
  width: 100%;
  background-color: var(--default-background);
}


.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}


.nav-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-items: center;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
}
.active {
  color: var(--primary);
}

.tag {
  font-size: 17px;
  border-radius: 30px;
  background-color: var(--success);
  color: var(--light);
  padding: 7px 10px;
}

.btn {
  padding: 8px 17px;
  font-size: 17px;
  border-radius: 7px;
}

.btn-primary {

  color: var(--btn-primary-color);
  background-color: var(--primary);
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: all ease-in-out .25s;

}

.btn-primary:hover {
  background-color: var(--btn-primary-hover-color);
}

.btn-alert {

  color: var(--dark);
  background-color: var(--btn-alert-color);

  border: 1px solid var(--btn-alert-color);
  transition: all ease-in-out .25s;
  font-family: inherit;
  cursor: pointer;
}

.btn-alert:hover {
  background-color: var(--btn-alert-hover-color);
  border: 1px solid var(--btn-alert-hover-color);
}

.btn-gray {

  color: var(--dark);
  background-color: #cbcbcb;

  border: 1px solid #cbcbcb;
  transition: all ease-in-out .25s;
  cursor: pointer;

}

.btn-gray:hover {
  background-color: #b0b0b0;
}
.not-allowed {
  cursor: not-allowed;
}

.btn-danger {
  color: var(--danger);
  background-color: #ea60603c;

  transition: all ease-in-out .25s;
  font-weight: 450;

}

.btn-danger:hover {
  background-color: #ea60604d;
  color: #e04545;
}

.btn-danger .material-symbols-outlined {
  color: var(--danger);
}


.btn-secondary {

  color: var(--primary);
  background: transparent;
  border: 1px solid var(--primary);
  transition: all ease-in-out .25s;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--primary);
  color: var(--btn-secondary-color);
}


.input-groups {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: fit-content;
  padding: 7px;
  transition: all ease-in-out 2s;
  flex-wrap: wrap;
}



.input-group {
  display: flex;
  flex-direction: row;
  gap: 0.35rem;
  border: 1px solid var(--default-border);
  border-radius: 1999px;
  width: fit-content;
  padding: 7px;
  transition: all ease-in-out 2s;
  align-items: center;
}


label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.25rem;
  align-items: center;
}

.input:focus-within .select:focus-within, .input:hover, .select:hover {
  border: 1px solid var(--dark);
}

.input-group:focus-within, .select:focus-within {
  outline: 1px solid var(--dark);
}

.input-group:hover, .select:hover {
  outline: 1px solid var(--dark);
}

.input-group label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input-group input {
  border: none;
  outline: none;
  font-size: var(--form-search-input-size);
  font-weight: 400;
  font-family: inherit;
}

.input-group img {
  width: 29px;
  height: 29px;
  padding: 0 7px;

}

.select {
  width: 63%;
  outline: none;
  padding: 10px;
  border: 1px solid var(--default-border);
  border-radius: 9px;
  transition: all ease-in-out 2s;
  font-family: inherit;
  font-size: var(--default-font-size);
}

.select option {
  background-color: var(--default-border);
}

.select selected {
  background-color: #1b58c8;
}

.select option
.checkbox-group label:hover > .checkmark, .checkmark:hover {
  border: 3px solid var(--dark);
}

.checkbox-group input[type="checkbox"] {
  display: none; 
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkmark {
  width: 24px;
  height: 22px;
  border: 3px solid var(--default-border);
  display: inline-block;
  position: relative;
  margin-right: 8px;
  background: none;
  transition: background-color 0.3s, border 0.3s;
  border-radius: 8px;
  z-index: -1;
}

/* Checked state */
.checkbox-group input[type="checkbox"]:checked + .checkmark {
 
  border: 3px solid var(--primary);
  background: url("../src/assets/images/tick.svg");
  background-size: cover;


}


.text-tertiary {
  padding: 10px;
}

.text-tertiary:hover {
  background-color: #a0bef780;

  border-radius: 3px;
}


.dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.75rem;
  position: relative;
}

.dropdown img {
  width: 30px;
  height: 30px;
}

.hidden > * {
  display: none;
}

.dropdown-menu {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--default-background);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  min-width: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
}

/* Overlay background when panel is open */
.sidepanel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidepanel-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* Side panel styles */
.sidepanel {
  position: fixed;
  top: 81px;
  left: -300px;
  width: 100%;
  height: 100%;
  background: var(--default-background);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1999;
  transition: left 0.3s ease-in-out;
}

.sidepanel-overlay.open .sidepanel {
  left: 0;
}

/* Close button */
.close-btn {
  border: 1px solid var(--default-border);
  padding: 0 10px;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  float: right;
  margin: 0 auto;
}



/* Side panel navigation */
.sidepanel-nav{
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-top: 50px;
  color: var(--default-text-color);

}

.sidepanel-nav li {
  font-size: 23px;
  width: 100%;
  padding: 10px;
}

.sidepanel-nav li:hover {

}


.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}


.text-link {
  text-decoration: none;
  color: var(--primary);
}

.text-link:hover {
  text-decoration: underline;
}

label {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: nowrap;
}

.rounded {
  border-radius: 1999px;
}

.card {

  width: 300px;
  height: 350px;


  border: 1px solid var(--default-border);
  border-radius: 7px; 

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.75rem;
  transition: all ease-in-out .25s;
}

.card .card-details {
  width: 80%;

  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.75rem;
  align-items: center;
}

.card .card-details p {
  font-size: 15px;
}


.card .card-details img {
  background-color: var(--default-border);
  padding: 5px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 1999px;
}


.card p {
  width: 250px;
  text-align: start;
}

.card .card-buttons {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.star {
  color: var(--yellow);
  font-size: var(--default-icon-size);
}


.loader-overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 60px;
  aspect-ratio: .5;
  display: grid;
}
.loader:before {
  content: "";
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto auto 0;
  background: var(--primary);
  animation: l9-0 .5s cubic-bezier(0,800,1,800) infinite;
}
.loader:after {
  content: "";
  width: 75%;
  aspect-ratio: 1/cos(30deg);
  margin: 0 auto auto;
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: var(--dark);
  animation: l9-1 .5s linear infinite;
}
@keyframes l9-0 {
  0%,2%  {translate: 0   0%}
  98%,to {translate: 0 -.2%}
}
@keyframes l9-1 {
  0%,5%  {rotate:  0deg}
  95%,to {rotate:-60deg}
}

.horizontal-spacer {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--default-border);

}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  background-color: var(--light);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  min-width: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: left;

  justify-content: center;
  gap: 0.7rem;
  overflow-y: auto;
  max-height: 600px;

}

.dropdown-item {
  text-align: left;

  border-radius: 7px;
}

.dropdown-item a {
  text-align: left;
  padding: 10px;
  border-radius: 7px;
}


.dropdown-item > *:not(.btn,.info):hover {
  background-color: var(--default-border);
}


.account-details {
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account-details img:not(.info > *) {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.account-details img.notifications {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.account-details img:not(.info > *):hover {
  background-color: var(--default-border);
}


.account-details .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;

}

.account-details a {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 0.5rem;

}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
